/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* -------------------------------------------------------------- */
/* Variable Definitions */
:root {
	--colBG: #0b171f;
	--colBG2: #236475;
	--colBG1Fade: #0b171fee;
	--colBGFade: #23647544;
	--colPrimary: #01bdc6;
	--colPrimaryFade: #01bdc688;
	--colAccent: #ff3e72;
	--colAccentFade: #ff3e7244;
	--colFG: #eaffe2;
	--colFGFade: #eaffe288;
}

/* -------------------------------------------------------------- */
/* ROOT ELEMENTS */
html {min-height: 100vh;}

* {box-sizing: border-box;}

::selection {
	background-color: var(--colAccent);
	alpha: 0.2;
	color: black;
}

::-webkit-scrollbar {
  width: 8px;
  position: absolute;
  right: 0;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--colBG2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colAccent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colPrimary);
}

/* -------------------------------------------------------------- */
/* MAIN ELEMENTS */
body {
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
	background: linear-gradient(45deg, var(--colBG) 0%, var(--colBG) 100%);
	background-attachment: fixed;
	color: var(--colPrimary);
	font-family: 'Switzer', 'Inter', arial, sans-serif;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-flow: column;
	max-width: 100ch;
	overflow-x: clip;
}

hr {border: 1px solid var(--colBGFade);}

figure {
	margin: 16px 0;
	padding: 8px;
	text-align: center;
	border-radius: 4px;
	background-color: var(--colBGFade);
}

figure img {
	border-radius: 4px;
}

figcaption {
	padding-top: 6px;
}

blockquote {
	margin: 0;
	padding: .25em 1em .25em 1em;
	border-left: 48px solid var(--colPrimary);
	background-color: var(--colBGFade);
	border-radius:8px;
}

/* ANCHORS */
a {
	text-decoration: none;
	color: var(--colPrimary);
	position: relative;
	transition: background-color 250ms ease-out;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: var(--colAccent);
  transform-origin: center;
  transition: transform 150ms ease-out;
}

a:hover {
	cursor: pointer;
	color: var(--colAccent);
	background: var(--colAccentFade);
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

/* BUTTON */
.linkbutton {
	background-color: var(--colPrimary);
	color: var(--bg-colour);
	padding: .5em 1em;
}

/* SIZES */

h1, h2, h3, h4, h5 {
	font-family: 'Outfit', 'Switzer', sans-serif;
}

article h1 {font-size:2.5em; border-bottom: 2px solid var(--colPrimaryFade);}
article h2 {font-size:1.8em; color: var(--colAccent); border-bottom: 2px solid var(--colAccentFade);}
article h3 {font-size:1.4em; color: var(--colPrimaryFade);}
article h4 {font-size:1.0em; color: var(--colAccentFade);}
article h5 {font-size:1.0em; color: var(--colFGFade);}
article h6 {font-size:1.0em; color: var(--colFGFade);}

/* -------------------------------------------------------------- */
/* HEADER + NAV */

	.header-bg {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -5;
		width: 300%;
		overflow: clip;
		height: 100%;
		background: url('/img/stars-bg.png') repeat-x;
		background-size: 50%;
		animation: scroll 60s linear infinite;
		image-rendering: pixelated;
	}

	.stars2 {
		animation: scroll 120s linear infinite;
		opacity: 0.5;
	}

	.stars3 {
		animation: scroll 180s linear infinite;
		opacity: 0.25;
	}

	nav {
		display: flex;
		position: relative;
		z-index: 5;
		flex-flow: row nowrap;
		text-align: center;
		justify-content: center;
		align-items: center;
		border-top: 2px solid var(--colPrimary);
		border-bottom: 2px solid var(--colPrimary);
	}

	nav > * > * {
		display: block;
		padding: .5em 0;
	}

	.nav-item {flex-grow: 1;}
	.nav-sep {color: var(--colBG2);}

/* -------------------------------------------------------------- */
/* MAIN CONTENT */

	main {
		width: 100%;
		max-width: 80ch;
		margin: 1em auto;
		padding: 0 1em;
		background: var(--colBG1Fade);
		box-shadow: 0 0 3em 3em var(--colBG1Fade);
		pointer-events: all;
	}

	main img {
/*		object-fit: cover;
		max-width: 100%;
		flex-grow: 1;
		text-align: center;*/
	}

	main p {
		color: var(--colFG);
		line-height: 1.5em;
		text-align: justify;
		font-family: 'Switzer', 'Inter', arial, sans-serif;
		hyphens: auto;
	}

	main ul,
	main ol {
		line-height: 1.5em;
		color: var(--colFG);
	}

	main li::marker {
		color: var(--colAccent);
	}

	main summary {
		padding: 1rem 0;
		transition: background-color 150ms ease-out;
	}

	main summary::marker {
		float: right;
	}

	main details[open] summary::marker {
		transform: rotate(-90deg);
	}

	main summary:hover {
		background-color: var(--colAccentFade);
	}

	main iframe {
		width: 100%;
		aspect-ratio: 16 / 9;
	}

/* ARTICLE */
	.heroFrame {
		margin: 16px 0px;
		border-radius: 4px;
		aspect-ratiO: 16 / 9;
		overflow: hidden;
		display: flex;
		justify-content: center;
	}

	.intro {
		color: var(--colFG);
		margin-bottom: 2rem;
		font-style: italic;
	}

	author {
		font-style: italic;
	}

	date {
		font-family: Jetbrains Mono, monospace;
		color: var(--colFGFade);
	}

	.tagline {
		color: var(--colFGFade);
		font-family: 'Switzer', 'Inter', arial, sans-serif;
	}

	strong {color: var(--colAccent);}

	author, date, .tagline, #crumbs {font-size: 0.8rem;}

	#crumbs {
		font-family: Jetbrains Mono, monospace;
		color: var(--colAccent);
	}

/* -------------------------------------------------------------- */
/* FOOTER */
	footer {
		border-top: 2px solid var(--colPrimary);
		margin-top: auto;
		padding: 2.5vh 1em;
		display: flex;
		position: relative;
		z-index: 1;
		justify-content: space-between;
		align-items: center;
		font-family: 'Switzer', 'Inter', arial, sans-serif;
	}

	footer img {
		display: block;
		max-height: inherit;
		height: 80px;
	}

	.footer-link {
		font-size: 1.2em;
		padding: .2em;
		color: var(--colFG);
	}

/* -------------------------------------------------------------- */
/* LISTS */
.postlist-item {
	position: relative;
	margin: 16px 0px;
	transition: background-color 250ms ease-out;
	border-radius: 8px;
	background-color: var(--colBGFade);
	overflow: clip;
	display: flex;
	flex-flow: row nowrap;
}

.postlist-item:hover {
	background-color: var(--colBG2);
	color: var(--colFG);
	border-radius: 8px;
}

.postlist-item:hover p,
.postlist-item:hover date {
	color: var(--colFG);
}

.postlist-title {
	font-family: 'Outfit', sans-serif;
	font-size: 1.4rem;
	margin: 0 0 0.5rem 0;
}

.postlist-text {
	padding: 1em;
}

.postlist-image {
	background-color: var(--colPrimary);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0px;
	flex-basis: 25%;
	flex-shrink: 0;
}

/* FEATURED ARTICLE FIX */
/*.featured date, .featured p {
	color: var(--colPrimary);
}
*/
/* TASK LISTS */
/* Hide default - cannot style */
input[type=checkbox i] {
	appearance: none;
}
.contains-task-list {
	list-style: none;
	padding-left: 0;
}

.task-list-item {
	display: flex;
	padding: .25em 0;
	align-items: center;
}

.task-list-item-checkbox {
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: inline-block;
  margin: 0 1em;
  border: 2px solid var(--colPrimary);
  border-radius: 50%;
  pointer-events: none;
}
.task-list-item-checkbox[type="checkbox"]:checked {
  background-color: var(--colPrimary);
}

.taglist {padding-bottom: 3rem;}

.postmeta {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.tag, .tag a {
	font-family: Jetbrains Mono, monospace;
	padding: .5em 1em;
	line-height: 2em;
}

/* -------------------------------------------------------------- */
/* PAGE SPECIFIC */

.authorImageSmall {
	margin: 0 .5rem;
	aspect-ratio: 1 / 1;
	height: 36px;
}

.authorImage img,
.authorImageSmall img {
	width: 100%;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	height: inherit;
	border: 2px solid var(--colBG2);
	background-color: var(--colPrimary);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* NOW */
.now-post {
	display: block;
	margin: 1em 0;
	padding: 1em;
	position: relative;
	transition: background-color 250ms ease-out, border-color 250ms ease-out, color 250ms ease-out;
	border-radius: 8px;
	background: var(--colBGFade);
}

.now-post:hover {
	background: var(--colBG2);
	color: var(--colFG);
}

.now-featured {
	background: var(--colAccentFade);
	color: var(--colFG);
	font-size: 1.2em;
}

.now-featured:hover {
	background: var(--colAccent);
	
}

.now-date {
	display: block;
	text-align: right;
	margin-bottom: .5em;
}

.now-img {
	max-height: 150px;
	border-radius: 8px;
	margin-bottom: 1em;
}

.now-post span {
	display: block;
	padding: 1em 0;
}

/* -- */

.headerInfo {
	height: 100%;
	align-self: center;
	font-size: .7rem;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 350px;
	max-width: 100%;
}

.headerInfo .column {
	flex-basis: 500px;
}
._title {
	color: var(--colAccent);
	font-size: 0.7rem;
}

._text {
	color: var(--colFG);
	font-size: 1rem;
	text-align: right;
}

._date {
	color: var(--colFGFade);
	font-size: 1em;
	font-family: Jetbrains Mono, monospace;
}
/* -------------------------------------------------------------- */

.header-row {
	font-size: min(6vw,2.5em);
	font-family: 'Outfit', sans-serif;
	font-weight: bold;
	padding: 1em 0;
	transition: background-color 250ms ease-out;
	color: var(--colFG);
	padding:1em;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	gap: .5em 1em;
}

.header-row > * {
	padding: 16px 0;
}

.header-row img {
	border-radius: 50%;
	height: 2.5em;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border: 2px solid var(--colPrimary);
}

.header-title {
	display: flex;
	flex-flow: column;
	justify-items: center;
	align-items: flex-start;
}

details {
	background-color: var(--colBGFade);
	border-radius:8px;
	padding: 1em;
}

details > summary h2 {
	display: inline-block;
	margin:0;
	padding:0;
}

button {
	background-color: var(--colPrimary);
	color: var(--colFG);
	padding: 1em;
	font-family: 'Switzer', 'Inter', sans-serif;
	font-size: 1.5em;
	width: 100%;
	transition: background-color 150ms ease-in-out;
	border-radius: 8px;
}

button:hover, button:focus {
	background-color: var(--colAccent);
	cursor: pointer;
}

form {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	border: 2px solid var(--colBG2);
	border-radius: 8px;
	padding: 1em 2em;
	margin: 2em auto;
	width: auto;
	max-width: 70ch;
}

form label {
	margin: 8px 0;
	display: flex;
	flex-flow: row-reverse;
}

label span {
	flex-basis: 50px;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	background-color: var(--colPrimary);
	transition: background-color 150ms ease-in-out;
	color: var(--colFG);
	border-radius: 4px 0 0 4px;
}

input:focus + span, textarea:focus + span {
	background-color: var(--colAccent);
}

input:focus {
	background-color: var(--colAccentFade);
}

input, textarea {
	background-color: var(--colBGFade);
	color: var(--colFG);
	border: 0;
	flex-grow: 1;
	padding: 8px;
	border-radius: 0 4px 4px 0;
	font-family: 'Switzer', 'Inter', sans-serif;
	font-size: 1.2rem;
	transition: background-color 150ms ease-in-out;
}

/* -------------------------------------------------------------- */
/* MODIFIERS */
.featured {
	background: var(--colAccentFade);
	color: var(--colAccent);
	transition: all 250ms ease-out;
}

.featured:hover {
	background: var(--colAccent);
	color: var(--colFG);
}

.faded {opacity: 0.5;}
.block {display: block;}
.nopadding {padding: 0px;}
.direct-link {color: var(--colBG2); opacity: 0.5;}
.direct-link:hover {opacity: 1;}
.center {text-align: center;}
.column {display: flex; flex-flow: column; align-items: flex-end;}
.row {display: flex; flex-flow: row; align-items: center;}
.pixel {image-rendering: pixelated; position: relative;}
.primary {color: var(--colFG);}
/* -------------------------------------------------------------- */

@media (max-width:600px) {

	.header-row {
		border-bottom: 2px solid var(--colPrimary);
	}

	.headerInfo {
		flex-grow: 1;
	}

	footer {padding-bottom: 5em;}

	nav {
		background-color: var(--colBG);
		position: fixed;
		bottom: 0;
		z-index: 5;
		width: 100%;
		box-shadow: 0 -1em 1em .25em var(--colBG);
	}

	nav > * > * {
		display: block;
		padding: 1em 0;
	}

	form label span {
		display: none;
	}

	input, textarea {
		border-radius: 4px;
	}
}

/* -------------------------------------------------------------- */
/* Animations */

.fade-in {
	opacity: 0;
	animation: fadein 500ms ease-out 100ms 1;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	from 	{opacity: 0.0; transform: translateY(16px);}
	to		{opacity: 1.0; transform: translateY(0px);}
}

@keyframes scroll {
	0% 		{transform: translateX(-33%);}
	100% 	{transform: translateX(-66%);}
}