<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	<title>{{ title }} / {{ site.title }}</title>

	<!-- Meta -->

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | url }}">
	
	<!-- FontAwesome -->
	<script src="https://kit.fontawesome.com/87224a5bfc.js" crossorigin="anonymous"></script>

	<!-- Scripts -->
	<script src="/js/script.js" defer></script>
	<script src="/js/now.js" defer></script>
	{% block scripts %}

	{% endblock %}
	<style>
	{% block style %}

	{% endblock %}
	</style>
</head>
<body>
	<script>
		if (typeof(theme) === 'undefined') { let theme = null; }
		theme = localStorage.getItem('theme') || 'system';
		document.documentElement.dataset.theme = theme;
	</script>

	<header>
		<div id="mainlogo">
			<img id="emblem" src="/img/logo.png">
			<div id="logotype">
				<div id="name">{{site.title}}</div>
				<div id="subtitle">{{ site.subtitle }}</div>
			</div>
		</div>
		<div id="news">
			<div id="newsBubble">...</div>
			<div id="newsDate">(N/A)</div>
		</div>
		<button id="lightToggle">
			<i id="lighticon" class="fa-solid fa-sun"></i>
		</button>

	</header>

	<nav>
		{% for entry in collections.all | eleventyNavigation %}
			<div id="{{ entry.title | slugify }}" class="nav-item">
		{% endfor %}
		
		<div><a href="/">Home</a></div>
		<div><a href="/projects/">Projects</a></div>
		<div><a href="/blog/">Blog</a></div>
	</nav>

	<div id="view">
		<main>
			{% block content %}
			{{ content | safe }}
			{% endblock %}
		</main>
	</div>

	<footer>
		<span>&copy; andrew gleeson <span id="year">2023</span></span>
		<script>
			document.getElementById("year").innerText = new Date().getFullYear();
		</script>
		<span id="toTop">↑</span>
	</footer>
</body>
</html>