<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | {{site.title}}</title>
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<!-- SEO/SOCIAL -->

	<!-- SCRIPTS -->
	{% block styles %}
		<link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    	<link rel="stylesheet" href="{{ '/css/prism-base16-gruvbox.dark.css' | url }}">
    	<link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
	{% endblock %}
	{% block scripts %}
	{% endblock %}

	<script src="/js/weather.js"></script>
</head>
<body>
	<header>
		
			<div class="header-row">

				<a href="{{ '/' | url }}" style="display:flex; flex-flow: row; align-items:center; gap:.5em;">
				<img src="/img/authors/gleeson.jpg"></img>
				<div class="header-title">
					<span>{{ site.title }}</span>
					<span class="tagline">{{ site.tagline }}</span>
				</div>
				</a>

				<a href="/now/" style="align-content: end; flex-grow:1">
				<div class="header-info column">
					{% set now = collections.now | last %}
					<span class="headerInfo _title"><date class="headerInfo _date">({{ now.data.date | readableDate }})</date> NOW</span>
					<span class="headerInfo _text">{{ now.data.text }}</span>
				</div>
				</a>

				<div class="header-info column">
					<img id="weatherIcon" src=""></img>
					<span class="headerInfo _title" id="weatherTemp">0*C</span>
					<span class="headerInfo _title" id="weatherDesc">...</span>
				</div>
			</div>
		
		<nav>
			{% for entry in collections.all | eleventyNavigation %}
				<div class="nav-item">
					<a href="{{ entry.url | url }}">{{ entry.title | uppercase }}</a>
				</div>
			{% endfor %}
		</nav>
	</header>
	<main class="fade-in">
		{{ content | safe }}
	</main>
	<footer>
		<div>
		<p>{{site.description}}</p>
		<div>
			<a class="footer-link" href="/contact/">📧</a>
			<span class="nav-sep">/</span>
			<a class="footer-link" href="https://twitter.com/heygleeson" target="_blank">🐦</a>
			<span class="nav-sep">/</span>
			<a class="footer-link"href="https://github.com/heygleeson" target="_blank">🐙</a>
			<span class="nav-sep">/</span>
			<a class="footer-link"href="https://firepit.zone" target="_blank">🌐</a>
		</div>
		</div>
		<img src="/img/authors/gleeson.jpg"></img>
	</footer>
</body>
</html>