---
layout: base.njk
---
<div id="crumbs">
<a href="/">•</a> / <a href="/blog">BLOG</a> / {{ title }}
</div>

<h1>{{ title }}</h1>
<div class="intro">{{ description }}</div>
{% if author %}
<hr>
<div class="postmeta">
	<div class="row">
		<div class="authorImageSmall">
			<img src="{{ authors[author].image }}" alt="{{ authors[author].fullname }} profile image">
		</div>
		<author>{{ author }} {# // <span class="yellow">{{ authors[author].fullname }}</span> #}</author>
	</div>
	
	<div class="column">
		<date>Published {{ date | readableDate }}</date>
		{% if updated %}
		<date>Updated {{ updated | readableDate }}</date>
		{% endif %}
	</div>
</div>
{% endif %}

<hr>
{% if heroImage %}
	<div class="heroFrame">
	<img src="/img/{{ heroImage }}"></img>
	</div>
	<hr>
{% endif %}
<article>
	{{ content | safe }}
</article>
{% if tags|length > 1 %}
<hr>
<div class="taglist">
	<strong>Tags</strong>
	{% for tag in tags | filterIgnoredTags %}
		{% set tagUrl %}../../tags/{{ tag | slugify }}/{% endset %}
		<span class="tag"><a href="{{ tagUrl | url }}">{{ tag }}</a></span>
	{% endfor %}
</div>
{% endif %}
<hr>
<div class="readnext">
	
</div>