<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">

	<title>{{ title }} / {{ site.title }}</title>

	<!-- Meta -->

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | url }}">
	<!-- FontShare -->
	<link href="https://api.fontshare.com/v2/css?f[]=azeret-mono@2,1&amp;f[]=epilogue@2,1&amp;display=swap" rel="stylesheet">
	
	<!-- FontAwesome -->
	<script src="https://kit.fontawesome.com/87224a5bfc.js" crossorigin="anonymous"></script>

	<!-- Scripts -->
	<script src="/js/script.js" defer></script>
	<script src="/js/now.js" defer></script>
	<style>
	{% block style %}

	{% endblock %}
	</style>
</head>
<body>
	<script>
		let theme = localStorage.getItem('theme') || 'system';
		document.documentElement.dataset.theme = theme;
	</script>

	<header>
		<div id="mainlogo">
			<a href="/" class="logo">
				<img id="emblem" src="/img/Emblem_White_100px.png">
				<div class="logotype">
					<h1 class="name">{{site.title}}</h1>
					<p class="subtitle">{{ site.tagline }}</p>
				</div>
			</a>
		</div>
		<div id="news">
			<a href="/now"><i class="fa-solid fa-message"></i></a>
			<div id="newsBubble">...</div>
			<div id="newsDate">(N/A)</div>
			
		</div>
		<button id="lightToggle">
			<i id="lighticon" class="fa-solid fa-sun"></i>
		</button>
	</header>

	<div id="view">
		<nav id="mainNav">
			{% for entry in collections.all | eleventyNavigation %}
			<div id="{{ entry.title | slugify }}" class="nav-item">
				<a href="{{ entry.url | url }}">{{ entry.title }}</a>
			</div>
			{% if loop.index % 3 == 0 or loop.index % 7 == 0 %}
			<br>
			{% endif %}
			{% endfor %}
		</nav>
		<main>
			{% block content %}
			{{ content | safe }}
			{% endblock %}
		</main>
	</div>

	<footer>
		<span>&copy; andrew gleeson <span id="year">2023</span></span>
		<script>
			document.getElementById("year").innerText = new Date().getFullYear();
		</script>
		<span id="toTop">↑</span>
	</footer>
</body>
</html>