---
title: andy
layout: base.njk
permalink: /now/
---

<h1>Latest</h1>
<div id="nowposts">
</div>

<script defer>
	document.addEventListener('DOMContentLoaded', (e) => hydrateNowPosts());
</script>

<h1>How this works</h1>

<p>Of course I want to show off how this works!</p>

<p>Anyway, this is what <code>now.txt</code> looks like:<p>

<pre>
2023-06-23 13:00 | Hello there!
2023-06-24 13:00 | Updating my website!
2023-06-26 16:56 | Holy shiiit! Pooggg!
2023-06-26 17:30 | Testing a much longer string. This should be interesting to see how it gets displayed.
2023-09-02 12:00 | Working on this again.
</pre>

