details > summary {
	list-style: none;
	cursor: pointer;
}

details > summary > * {
	display: inline;
}

summary::marker {
	display: block;
	padding: 2em;
}

details > summary:hover h2 {
	color: white;
}

#contact {
	margin: 32px 0px;
	box-sizing: content-box;
	border: 2px solid var(--secondary-colour);
	border-radius: 8px;
	padding: 16px;
	box-shadow: 8px 8px 0px 2px var(--fade-colour);
}
.input-field {
	margin: 2px 0;
	display: flex;
	flex-flow: row;
	align-items: center;
}
.contactResponse {
	text-align: center;
	padding: 8px 0px;
	color: var(--firepit-orange);
}

form label {
	font-size: 16px;
	text-align: right;
	flex-basis: 15%;
	padding: 8px 8px;
	border-radius: 4px;
}

form label:hover, button:hover {
	cursor: pointer;
	background-color: var(--fade-colour);
}

form input, form textarea, form button {
	flex-grow: 1;
	font-family: "Archivo";
	background-color: var(--bg-colour);
	color: var(--primary-colour);
	border: 1px solid var(--secondary-colour);
	padding: 8px;
	border-radius: 4px;
	margin: 8px;
}

form input {
	font-size: 20px;
}

form input:disabled, form textarea:disabled, form button:disabled {
	color: var(--secondary-colour);
	background-color: var(--fade-colour);
	font-style: italic;
}

form textarea {
	min-height: 100px;
	box-sizing: border-box;
}