---
title: About
layout: base.njk
permalink: /about/
eleventyNavigation:
  key: About
---

<h1>About Me</h1>

<p><b>Andrew Gleeson</b> is a self-taught pixel artist, game developer and web designer living in Melbourne, Australia. He has worked on commercially-successful games, lectured at RMIT, and occasionally releases small games for fun. You may not see him perform a talk at GDC, but his name might be around somewhere.</p>

<p>He started his career at 18 as the lead artist and world designer for the cult-hit <a href="../work/titansouls" target="_blank">Titan Souls</a>, published by Devolver Digital in 2015. Since then he has led his own projects, notably <a href="../work/witchway" target="_blank">WitchWay</a> and <a href="../work/shrubnaut" target="_blank">Shrubnaut</a>. He has also played a role in experimental works such as <a href="../work/hyperecho" target="_blank">HYPER//ECHO</a>, the <a href="../work/zone" target="_blank">freeplay.zone</a>, as well as a smattering of <a href="../work/partygames" target="_blank">party games</a>. You can find more of his work <a href="../work/">here</a>.

<p>These days he is interested in narrative engines (Ink!), syntax highlighting and reading personal wikis (digital gardens). He enjoys making nice websites for friends, and riding his new bike.</p>

<p>He is currently in the early stages of development on his next big project, <a href="../work/tether" target="_blank">Tether</a>.

<h2>Skills</h2>

<ul>
  <li>Pixel Art — <i>Aseprite, Photoshop</i></li>
  <li>Game Programming — <i>Game Maker</i></li>
  <li>Web Development — <i>HTML, JS, CSS, Node.js</i></li>
  <li>Plugin/Tool Programming — <i>Lua, Python</i></li>
</ul>

<h2>Ask me about</h2>
<ul>
  <li>Ink (the narrative engine)</li>
  <li>Metroidvanias</li>
  <li>Setting up your own website</li>
  <li></li>
  
</ul>
<form action="../contact">
  <button type='submit'>Get in touch</button>
</form>

<h2>Links</h2>
<ul class='link-list'>
  <li><a href="https://github.com/heygleeson" target="_blank">Github</a> — My repositories</li>
  <li><a href="https://gleeson.itch.io/" target="_blank">Itch</a> — My games</li>
</ul>