---
title: Blog
layout: 'base.njk'
permalink: /blog/
eleventyNavigation:
  key: Blog
---
<h1>BLOG</h1>
<hr>

{% set list = collections.blog %}
{% include 'postlist.njk' %}
<hr>

{% set tagGroupName = "Blog" %}
{% set taglist = collections.allBlogTags %}
{% include "tags.njk" %}