---
title: Contact
layout: base.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
---

<h1>Contact</h1>
<hr>
<p>The best way to reach me is by filling out the contact form below.</p> 
<p>You can expect a response within a few days.<p>

{% include 'contactform.njk' %}

<hr>

<h2>Socials</h2>
<ul>
<li><a href="">Discord</a></li>
<li><a href="">Mastodon</a></li>
</ul>