---
title: Contact
layout: base.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
---

<h1>Get in touch</h1>
<hr>
<p>Get in touch!<p>

<ul class='link-list'>
  <li><a href="https://twitter.com/heygleeson" target="_blank">Twitter</a></li>
  <li><a href="https://github.com/heygleeson" target="_blank">Github</a></li>
  <li><a href="https://gleeson.itch.io/" target="_blank">Itch</a></li>
  <li><a href="mailto:heygleeson@gmail.com" target="_blank">Email</a></li>

  
</ul>

{# {% include 'contactform.njk' %} #}