---
title: Now
layout: 'base.njk'
permalink: /now/
eleventyNavigation:
  key: Now
---
<article>

  <h1>NOW</h1>

  {% set now = collections.now | last %}
  <div class="now-post now-featured">
    <date class="now-date">{{ now.date | displayDate }}</date>
    {% if now.data.image %}
        {% for img in now.data.image %}
        <img class="now-img" src="/img/{{ img }}"></img>
        {% endfor %}
    {% endif %}
    <div>{{ now.data.text }}</div>
  </div>

  <h3>PREVIOUSLY</h3>

  {% set list = collections.now %}
  {% for item in list | reverse %}
    {% if item != list | last %}
    <div class="now-post" style="gap:1em">
      <date class="now-date">{{item.date | displayDate }}</date>
      {% if item.data.image %}

        {% for img in item.data.image %}
        <img class="now-img" src="/img/{{ img }}"></img>
        {% endfor %}

      {% endif %}
      <div>{{ item.data.text }}</div>
    </div>
    {% endif %}
  {% endfor %}

  <hr>

  <h2>What is this page?</h2>

  <p>This page is inspired by the concept of a <a href="https://nownownow.com/about">/now/</a> page — a page that tells you <b>what this person is focused on at this point in their life</b>. This is to differentiate from things like an <a href="../about">About</a> page or a <a href="../contact">Contact</a> page, which are much more commonplace and are typically static.</p>

  <p>I have taken the basic idea and created a tiny micro-blog. For me, this page serves as a way to update this site without committing to longer blog posts.</p>

</article>