---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - allBlogTags 
    - allTags
    - blog
    - all
eleventyComputed:
  title: Tagged "{{ tag }}"
permalink: /tags/{{ tag }}/
---
<div id="crumbs">
<a href="/">•</a> / <a href="/tags">Tags</a> / {{ title }}
</div>

<h2>{{ title }}</h2>
<hr>
{% set list = collections[ tag ] %}
{% include 'postlist.njk' %}
<hr>
