/* IMPORT */
@font-face {
	font-family: Alte Haas;
	src: url("/fonts/AlteHaasGroteskRegular.ttf");
}
@font-face {
	font-family: Iosevka Aile;
	src: url("/fonts/iosevka-aile-regular.woff2");
}
@font-face {
	font-family: Iosevka Aile;
	src: url("/fonts/iosevka-aile-bold.woff2");
	font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* -------------------------------------------------------------- */
/* Variable Definitions */
:root {
	--colBG: #181d19;
	--colBG2: #2A3023;
	--colBGFade: #28302d44;
	--colPrimary: #98b234;
	--colPrimaryFade: #98b23488;
	--colAccent: #f99b1c;
	--colAccentFade: #f99b1c44;
	--colFG: #faf1b1;
	--colFGFade: #faf1b188;
}

/* -------------------------------------------------------------- */
/* ROOT ELEMENTS */
html {min-height: 100vh;}
* {box-sizing: border-box;}

::selection {
	background-color: var(--colAccent);
	color: black;
}

::-webkit-scrollbar {
  width: 8px;
  position: absolute;
  right: 0;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--colBG2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colAccent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colPrimary);
}

/* -------------------------------------------------------------- */
/* MAIN ELEMENTS */
body {
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
	background: linear-gradient(45deg, var(--colBG) 0%, var(--colBG) 100%);
	background-attachment: fixed;
	color: var(--colPrimary);
	font-family: Alte Haas, sans-serif;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-flow: column;
	max-width: 100ch;
}

hr {border: 1px solid var(--colBGFade);}

figure {
	margin: 16px 0;
	padding: 8px;
	text-align: center;
	border-radius: 4px;
	background-color: var(--colBGFade);
}

figure img {
	border-radius: 4px;
}

figcaption {
	padding-top: 6px;
}

blockquote {
	margin: 0;
	padding: .25em 1em .25em 1em;
	border-left: 48px solid var(--colPrimary);
	background-color: var(--colBGFade);
	border-radius:8px;
}

/* ANCHORS */
a {
	font-family: Jetbrains Mono, monospace;
	text-decoration: none;
	color: var(--colPrimary);
	position: relative;
	transition: background-color 250ms ease-out;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: var(--colAccent);
  transform-origin: center;
  transition: transform 150ms ease-out;
}

a:hover {
	cursor: pointer;
	color: var(--colAccent);
	background: var(--colAccentFade);
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

/* BUTTON */
.linkbutton {
	background-color: var(--colPrimary);
	color: var(--bg-colour);
	padding: .5em 1em;
}

/* SIZES */
article h1 {font-size:2.5em; border-bottom: 2px solid var(--colPrimaryFade);}
article h2 {font-size:1.8em; color: var(--colAccent); border-bottom: 2px solid var(--colAccentFade);}
article h3 {font-size:1.4em; color: var(--colPrimaryFade);}
article h4 {font-size:1.0em; color: var(--colAccentFade);}
article h5 {font-size:1.0em; color: var(--colFGFade);}
article h6 {font-size:1.0em; color: var(--colFGFade);}

/* -------------------------------------------------------------- */
/* HEADER + NAV */

	nav {
		display: flex;
		flex-flow: row nowrap;
		text-align: center;
		justify-content: center;
		align-items: center;
		border-top: 2px solid var(--colPrimary);
		border-bottom: 2px solid var(--colPrimary);
	}

	nav > * > * {
		display: block;
		padding: .5em 0;
	}

	.nav-item {flex-grow: 1;}
	.nav-sep {color: var(--colBG2);}

/* -------------------------------------------------------------- */
/* MAIN CONTENT */

	main {
		width: 100%;
		max-width: 80ch;
		margin: 1em auto;
		padding: 0 1em;
	}

	main img {
		object-fit: cover;
		max-width: 100%;
		flex-grow: 1;
		text-align: center;
	}

	main p {
		color: var(--colFG);
		line-height: 1.5em;
		text-align: justify;
		font-family: Iosevka Aile, sans-serif;
		hyphens: auto;
	}

	main ul,
	main ol {
		line-height: 1.5em;
		color: var(--colFG);
	}

	main li::marker {
		color: var(--colAccent);
	}

	main summary {
		padding: 1rem 0;
		transition: background-color 150ms ease-out;
	}

	main summary::marker {
		float: right;
	}

	main details[open] summary::marker {
		transform: rotate(-90deg);
	}

	main summary:hover {
		background-color: var(--colAccentFade);
	}

	main iframe {
		width: 100%;
		aspect-ratio: 16 / 9;
	}

/* ARTICLE */
	.heroFrame {
		margin: 16px 0px;
		border-radius: 4px;
		aspect-ratiO: 2 / 1;
		overflow: hidden;
		display: flex;
		justify-content: center;
	}

	.intro {
		color: var(--colFG);
		margin-bottom: 2rem;
		font-style: italic;
	}

	author {
		font-style: italic;
	}

	date, .tagline {
		font-family: Jetbrains Mono, monospace;
		color: var(--colFGFade);
	}

	strong {color: var(--colAccent);}

	author, date, .tagline, #crumbs {font-size: 0.8rem;}

	#crumbs {
		font-family: Jetbrains Mono, monospace;
		color: var(--colAccent);
	}

/* -------------------------------------------------------------- */
/* FOOTER */
	footer {
		border-top: 2px solid var(--colPrimary);
		margin-top: auto;
		padding: 2.5vh 1em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: Iosevka Aile, sans-serif;
	}

	footer img {
		display: block;
		max-height: inherit;
		height: 80px;
	}

	.footer-link {
		font-size: 1.6em;
		padding: .2em;
	}

/* -------------------------------------------------------------- */
/* LISTS */
.postlist-item {
	position: relative;
	margin: 16px 0px;
	transition: background-color 250ms ease-out;
	border-radius: 8px;
	background-color: var(--colBG2);
	overflow: clip;
	display: flex;
	flex-flow: row nowrap;
}

.postlist-item:hover {
	background-color: var(--colBG2);
	color: var(--colFG);
	border-radius: 8px;
}

.postlist-item:hover p,
.postlist-item:hover date {
	color: var(--colFG);
}

.postlist-title {
	font-size: 1.4rem;
	margin: 0 0 0.5rem 0;
}

.postlist-text {
	padding: 1em;
}
.postlist-image {
	background-color: var(--colPrimary);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0px;
	flex-basis: 25%;
	flex-shrink: 0;
}

/* FEATURED ARTICLE FIX */
.featured date, .featured p {
	color: var(--colPrimary);
}

/* TASK LISTS */
/* Hide default - cannot style */
input[type=checkbox i] {
	appearance: none;
}
.contains-task-list {
	list-style: none;
	padding-left: 0;
}

.task-list-item {
	display: flex;
	padding: .25em 0;
	align-items: center;
}

.task-list-item-checkbox {
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: inline-block;
  margin: 0 1em;
  border: 2px solid var(--colPrimary);
  border-radius: 50%;
  pointer-events: none;
}
.task-list-item-checkbox[type="checkbox"]:checked {
  background-color: var(--colPrimary);
}

.taglist {padding-bottom: 3rem;}

.postmeta {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.tag, .tag a {
	font-family: Jetbrains Mono, monospace;
	padding: .5em 1em;
	line-height: 2em;
}

/* -------------------------------------------------------------- */
/* PAGE SPECIFIC */

.authorImageSmall {
	margin: 0 .5rem;
	aspect-ratio: 1 / 1;
	height: 2rem;
}

.authorImage img,
.authorImageSmall img {
	width: 100%;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	height: inherit;
	border: 2px solid var(--colBG2);
	background-color: var(--colPrimary);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.now-date {
	flex-shrink: 0;
	flex-basis: 20%;
	text-align: center;
}
.now-post {
	padding-left: 1em;
	border-left: 4px solid var(--colAccent);
	color: var(--colFGFade);
}

.headerInfo {
	font-size: .7rem;
}
._title {
	color: var(--colAccent);
	font-size: 0.7rem;
}

._text {
	color: var(--colFG);
	font-size: 1rem;
}

._date {
	color: var(--colFGFade);
	font-size: 0.5rem;
	font-family: Jetbrains Mono, monospace;
}
/* -------------------------------------------------------------- */

.header-row {
	font-size: min(6vw,2.5em);
	font-family: Alte Haas, sans-serif;
	font-weight: bold;
	padding: 1em 0;
	transition: background-color 250ms ease-out;
	color: var(--colFG);
	padding:1em;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	gap: .5em 1em;
}

.header-row img {
	border-radius: 50%;
	height: 2.5em;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border: 2px solid var(--colPrimary);
}

.header-title {
	display: flex;
	flex-flow: column;
	justify-items: center;
	align-items: flex-start;
}

.header-info {
	height: 100%;
	justify-content: center;
	flex: 2 1 auto;
}

details {
	background-color: var(--colBGFade);
	border-radius:8px;
	padding: 1em;
}

details > summary h2 {
	display: inline-block;
	margin:0;
	padding:0;
}

#weatherIcon {
	border: 0px;
	aspect-ratio: 1/1;
	width: 48px;
	height: 48px;
	filter: invert(1);
}

/* -------------------------------------------------------------- */
/* MODIFIERS */
.featured {
	background: linear-gradient(45deg, var(--colBG2) 50%, var(--colAccentFade) 100%);
	color: var(--colAccent);
	transition: box-shadow 250ms ease-out;
}

.featured:hover {box-shadow: 0 0 1em var(--colAccentFade); color: var(--colFG)}

.faded {opacity: 0.5;}
.block {display: block;}
.nopadding {padding: 0px;}
.direct-link {color: var(--colBG2); opacity: 0.5;}
.direct-link:hover {opacity: 1;}
.center {text-align: center;}
.column {display: flex; flex-flow: column; align-items: flex-end;}
.row {display: flex; flex-flow: row; align-items: center;}
/* -------------------------------------------------------------- */

@media (max-width:600px) {

	.header-row {border-bottom: 2px solid var(--colPrimary);}
	footer {padding-bottom: 5em;}

	nav {
		background-color: var(--colBG);
		position: fixed;
		bottom: 0;
		z-index: 1;
		width: 100%;
		box-shadow: 0 -1em 1em .25em var(--colBG);
	}

	nav > * > * {
		display: block;
		padding: 1em 0;
	}
}

/* -------------------------------------------------------------- */
/* Animations */

.fade-in {
	opacity: 0;
	animation: fadein 500ms ease-out 100ms 1;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	from 	{opacity: 0.0; transform: translateY(16px);}
	to		{opacity: 1.0; transform: translateY(0px);}
}