---
title: andy
layout: base.njk
permalink: /now
---

<p>welcome to now</p>

<div id="nowposts">
</div>

<script defer>
	document.addEventListener('DOMContentLoaded', (e) => hydrateNowPosts());
</script>